/* -------------------------------------------------------------------------------------
  Declare global variables
  ------------------------------------------------------------------------------------- */
:root {
    --background-color: #11191f;
    --bg-color: #11191f; /* chota-var */
    --font-color: #fffefe; /* chota-var */
    --font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
    --font-family-sans: system-ui, -apple-system, Arial, Helvetica, sans-serif;
    --font-size: 16px;
    --font-weight: 400;
    --line-height: 1.5;
    --spacing: 1.0rem;
    --color: hsl(205, 16%, 77%);
    --button-diameter: 40px;
}

:where(:root) {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding: var(--spacing);
    background-color: var(--background-color);
    color: var(--color);
    margin: 0;
}

/* -------------------------------------------------------------------------------------
  
  ------------------------------------------------------------------------------------- */
.deviceCard, .actionCard {
    padding: .3rem 1rem;
    background-color: #ffffff1a; /* white with 10% opacity */
    margin: .3rem;
}

.deviceCard span.material-icons {
    margin-right: .3rem;
}

.deviceCardInner {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 .3rem;
}

.deviceStatus {
    font-size: x-small;
    color: silver;
}

.btn {
    width: var(--button-diameter);
    height: var(--button-diameter);
    padding: 1rem;
    border-radius: 100%;
    border-color: beige;
}
.btn-on {
    background-color: #e2d40a;
}
.btn-off {
    background-color: #e2dada;
}

.separator {
    margin: 1rem;
    color: #f707d7; 
}

footer {
    margin: 1rem auto;
    max-width: var(--grid-maxWidth);
}

body {
    margin: 0;
    padding: 0;
}